.info-main-container{
    background-image: url(/assets/inquiry.avif);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    min-height: 130vh;
}

.info-main-container h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Poppins';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info-main-container a{
    height: 50px;
    width: 200px;
    color: #c07a5f;
    background-color: #fffaf5;
    border-right: 2px solid #c07a5f;
    border-bottom: 2px solid #c07a5f;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed";
}


