.whyus-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/assets/bg2.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whyus-container h2{
    font-size: 45px;
    color:white;
    font-weight: 500;
    margin-bottom: 40px;
}

.why-us-btn{
    height: 40px;
    width: 170px;
    background-color:white;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}

@media (max-width:700px) {
    .whyus-container h2{
        font-size: 20px;
    }
}