.present{
    background-color: rgb(66, 65, 65);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.present h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}